@font-face {
    font-family: Outfit;
    src: url(/font/Outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
    font-family: Opensans;
    src: url(/font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: satoshi;
    src: url(/font/Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf);
}

* {
    box-sizing: border-box;
}

span {
    font-size: 90%;
    color: black;
}

body {
    padding: 0;
    margin: 0;
}

.thehomepage {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.thehomepage .sidenav {
    width: 20%;
    position: fixed;
    height: 100%;
}


.thehomepage .sidenav .thelogo {
    padding: 30px 15px;
    border-bottom: 1px solid var(--Grey-Line, rgba(217, 219, 233, 1));
}

.thehomepage .sidenav .thelogo span {
    font-family: outfit;
    background: linear-gradient(178.17deg, #04E2E2 1.78%, #00BBBB 98.69%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: 700;
    padding-left: unset;
    font-size: 100%;
}

.thehomepage .sidenav .thefullmenucontent {
    padding: 15px;
    width: 100%;
}

.sidenav .thefullmenucontent .thesearchbar {
    width: 100%;
    position: relative;
}

.iconsax {
    font-size: 18px;
    font-weight: 500;
}

.thefullmenucontent .thesearchbar input {
    width: 100%;
    background-color: rgba(247, 247, 252, 1);
    border-radius: 46px;
    border: 1px solid rgba(217, 219, 233, 1);
    padding: 10px 16px;
    outline: none;
    position: relative;
    font-family: satoshi;
    padding-left: 35px;
}

.thefullmenucontent .thesearchbar i {
    position: absolute;
    transform: translateY(-50%);
    left: 10px;
    top: 50%;
}

.theprofileandothermenu {
    width: 100%;
    margin-top: 20px;
}

.theprofileandothermenu .userprofile {
    width: 100%;
    position: relative;
}

.theprofileandothermenu .userprofile img {
    height: 30px;
    position: absolute;
    border-radius: 100px;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
}

.theprofileandothermenu .userprofile span {
    font-family: satoshi;
    font-weight: 400;
    padding-left: 40px;
}

.theprofileandothermenu .thenavigations {
    width: 100%;
    margin-top: 20px;
}


.theprofileandothermenu .thenavigations .nav1 {
    width: 100%;
    padding: 8px 0px;
    position: relative;
}

.theprofileandothermenu .thenavigations .nav1:hover {
    background-color: var(--Primary-Background, rgba(228, 255, 255, 1));
    border-right: 3px solid var(--Primary-Default, rgba(0, 187, 187, 1))
}

.theprofileandothermenu .thenavigations .nav1 span {
    position: relative;
    font-family: satoshi;
    text-decoration: none;
    font-weight: 500;
    padding-left: 30px;
}

.theprofileandothermenu .thenavigations .nav1 a {
    text-decoration: none;
}



.theprofileandothermenu .thenavigations .nav1 i {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}


.theprofileandothermenu .thenavigations .nav1 i:hover {
    color: var(--Primary-Default, rgba(0, 187, 187, 1));
    transition: 0.5s ease-in-out;
}

.thehomepage .sidenav .thelogoutsh {
    width: 100%;
    border-top: 1px solid var(--Grey-Line, rgba(217, 219, 233, 1));
    padding: 15px;
}

.thelogoutsh .nav1 {
    width: 100%;
    position: relative;
}

.thelogoutsh .nav1 span {
    position: relative;
    font-family: satoshi;
    text-decoration: none;
    font-weight: 500;
    padding-left: 30px;
}

.thelogoutsh .nav1 a {
    text-decoration: none;
}



.thelogoutsh .nav1 i {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}


.thelogoutsh .nav1 i:hover {
    color: var(--Primary-Default, rgba(0, 187, 187, 1));
    transition: 0.5s ease-in-out;
}

#lg {
    background-color: rgba(247, 247, 252, 1);
}

.thelogoutsh .nav1 .personame {
    width: 100%;
    position: relative;
}

.thelogoutsh .nav1 .personame img {
    position: absolute;
    left: 0;
    height: 20px;
}

.thelogoutsh .nav1 .personame small,
span {
    position: relative;
    font-family: satoshi;
    text-decoration: none;
    font-weight: 500;
    padding-left: 30px;
}

.thelogoutsh .nav1 .personame span {
    font-weight: 800;
}

.thelogoutsh .nav1 .personame small {
    font-size: 70%;
}

.thehomepage .thedefaultcontent {
    width: 80%;
    border-left: 1px solid var(--Grey-Line, rgba(217, 219, 233, 1));
    height: 100%;
    right: 0;
    position: fixed;
    overflow: scroll;
    overflow-x: hidden;
    right: 0;
    bottom: 0;
}

.thedefaultcontent .thedcHeading {
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 1000;
    padding: 10px 15px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--Grey-Line, rgba(217, 219, 233, 1));
}

.thedcHeading .content1 {
    position: relative;
    width: 30%;
}

.thedcHeading .content2 {
    width: 60%;
    display: flex;
    align-items: center;
}


.thedcHeading .content1 span {
    font-family: satoshi;
    font-weight: 500;
}

.thedcHeading .content2 .languageswit {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.thedcHeading .content2 .languageswit span {
    font-family: satoshi;
    font-weight: 500;
}

.thedcHeading .content2 .iconsimplify {
    width: 38%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.thedcHeading .content2 .iconsimplify .item {
    position: relative;
}

.thedcHeading .content2 .iconsimplify .item .absnot {
    width: 10px;
    height: 10px;
    background-color: red;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 100px;
}

.thehomepagecontents {
    width: 100%;
    margin-top: 60px;
}

.thehomepagecontents .theadpanel {
    width: 100%;
    text-align: center;
    padding: 20px 30px;
    background-color: var(--Secondary-Background, rgba(255, 249, 229, 1));
}

.thehomepagecontents .theadpanel span {
    font-family: Satoshi;
    font-weight: 500;
    line-height: 28px;
}

.featureflex {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featureflex .flexcontent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flexcontent .thefeature {
    width: 300px;
    margin-bottom: 30px;
}

.flexcontent .thefeature .imag {
    width: 100%;
    height: 306px;
    position: relative;
}

.thefeature .imag img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.flexcontent .thefeature .imag span {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: satoshi;
    color: white;
    font-weight: 700;
}


.flexcontent .thefeature .thetext {
    width: 100%;
    text-align: left;
}

.flexcontent .thefeature .thetext span {
    font-family: satoshi;
    padding-left: unset;
    font-weight: 400;
    font-size: 80%;
}

.flexcontent .thefeature .thetext .btn {
    width: 100%;
    margin-top: 20px;
}

.flexcontent .thefeature .thetext .btn a {
    padding: 8px 40px;
    text-decoration: none;
    font-family: satoshi;
    border-radius: 55px;
    color: white;
    background: linear-gradient(178.17deg, #04E2E2 1.78%, #00BBBB 98.69%);
}

.thehomepagecontents .navi {
    width: 100%;
    padding: 20px;
}

.navi .lasti {
    position: relative;
    width: 100%;
    padding: 40px 20px;
    border-radius: 16px;
    background-color: var(--Warning-Light, rgba(247, 222, 172, 1));
}

.lasti .text {
    font-family: satoshi;

}

.lasti .text h3 {
    font-weight: 700;
    font-size: 30px;
    width: 55%;
}

.lasti a {
    position: absolute;
    color: var(--Secondary-Dark, rgba(76, 58, 0, 1));
    padding: 10px 30px;
    border: var(--Secondary-Dark, rgba(76, 58, 0, 1));
    background-color: white;
    text-decoration: none;
    right: 20px;
    bottom: 20px;
    border-radius: 55px;
    font-family: satoshi;
    border: 1px solid var(--Secondary-Dark, rgba(76, 58, 0, 1));
    box-shadow: 0px 0px 0.3px 0px rgba(255, 255, 128, 1) inset;
    box-shadow: 0px -4px 0.3px 0px rgba(102, 102, 0, 1) inset;
}

.flexcontent .educationcot {
    width: 32%;
    border-radius: 24px;
    box-shadow: 0px 1.59px 2.35px 0px rgba(96, 97, 112, 0.16);

    /* box-shadow: 0px 0px 1.18px 0px rgba(40, 41, 61, 0.08); */
}

.flexcontent .educationcot .imagecontainer {
    width: 100%;
}

.educationcot .imagecontainer img {
    width: 100%;
    height: auto;
}

.educationcot .text {
    padding: 10px;
    width: 100%;
    text-align: left;
}

.educationcot .text span {
    padding-left: unset;
}

.educationcot .text #fi {
    font-family: satoshi;
    font-weight: 600;
}

.educationcot .text .texta {
    width: 100%;
    display: flex;
    padding-left: unset;
    justify-content: space-between;
    align-items: center;
}

.educationcot .text .texta span {
    font-family: satoshi;
    font-weight: 400;
}

.educationcot .text .texta a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    background-color: #04E2E2;
    border-radius: 10px;
    font-weight: 500;
    /* box-shadow: 0px 0px 0.3px 0px rgba(26, 240, 240, 1) inset; */

    box-shadow: 0px 4px 0.3px 0px rgba(0, 121, 121, 1);
}

.featureflex .iwanttolearn {
    width: 100%;
    height: 400px;
}

.featureflex .iwanttolearn .header {
    text-align: center;
    font-family: satoshi;
    position: relative;
}

.featureflex .iwanttolearn .header span {
    padding-left: unset;
}

.featureflex .iwanttolearn .header span:last-child {
    font-weight: 800;
}

.featureflex .iwanttolearn .header span:first-child {
    position: absolute;
    font-size: 20px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.flextthelanguage {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0px 150px;
    margin-top: 20px;
}

.flextthelanguage .countrylanguage {
    padding: 20px;
    width: 110px;
    height: 110px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 16px;
    box-shadow: 0px 0.59px 2.35px 0px rgba(96, 97, 112, 0.16);

    /* box-shadow: 0px 0px 1.18px 0px rgba(40, 41, 61, 0.08); */
    position: relative;
}

.flextthelanguage .countrylanguage .iconsax {
    position: absolute;
    right: 10px;
    top: 10px;
}

.flextthelanguage .countrylanguage .flag {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flextthelanguage .countrylanguage .flag img {
    width: 100%;
    height: auto;
}

.flextthelanguage .countrylanguage .countryname {
    width: 100%;
    text-align: center;
}

.flextthelanguage .countrylanguage .countryname span {
    padding-left: unset;
    font-family: satoshi;
    font-weight: 600;
}

.featureflex .proficiencylevel {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 300px;
    margin-top: 50px;
}

.featureflex .proficiencylevel .firstlevel {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 55px;
    padding: 10px 20px;
    border: 1px solid var(--Grey-Line, rgba(217, 219, 233, 1))
}


.featureflex .proficiencylevel .firstlevel i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.featureflex .youareoff {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
}


.featureflex .youareoff .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.featureflex .youareoff .image .imagesac {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.featureflex .youareoff .image .imagesac img {
    width: 15%;
}

.featureflex .youareoff .image span {
    margin-top: 30px;
    display: block;
    text-align: center;
    width: 100%;
    font-weight: 400;
}

.youareoff .youareoffbutton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px 250px;
}

.youareoff .youareoffbutton a {
    width: 55%;
    display: block;
    padding: 10px 30px;
    background: white;
    box-shadow: 0px 0px 0.3px 0px rgba(26, 240, 240, 1) inset;

    box-shadow: 0px -4px 0.3px 0px rgba(0, 121, 121, 1) inset;
    margin: 5px;
    text-align: center;
    color: var(--Primary-Default, rgba(0, 187, 187, 1));
    text-decoration: none;
    font-family: satoshi;
    font-weight: 400;
    border-radius: 55px;
}

.youareoff .youareoffbutton a:first-child {
    background: linear-gradient(178.17deg, #04E2E2 1.78%, #00BBBB 98.69%);
    color: white;
}