@font-face {
    font-family: Outfit;
    src: url(/font/Outfit/Outfit-VariableFont_wght.ttf);
}

span,
a {
    font-size: 90%;
}

@font-face {
    font-family: Opensans;
    src: url(/font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: satoshi;
    src: url(/font/Satoshi_Complete/Fonts/Variable/Satoshi-Variable.ttf);
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.linguamuraHome {
    width: 100%;
    background-color: var(--Grey-White, rgba(255, 255, 255, 1));
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-shadow: 2px 4.71px 6.2px 0px rgba(96, 97, 112, 0.16);

}

.linguamuraHome .heading {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 4px 15px;
}

.linguamuraHome .heading a {
    padding-right: 25px;
}

.linguamuraHome .heading a:last-child {
    padding-right: unset;
}

.linguamuraHome .heading a img {
    width: 70%;
}


.linguamuraHome .appname {
    padding: 4px 15px;
}

.appname img {
    width: 90%;
}

.thehomepagebody {
    width: 100%;
    padding: 20px;
    margin-top: 70px;
}

.thehomepagebody .firstsection {
    width: 100%;
    background: var(--Secondary-Background, rgba(255, 249, 229, 1));
    padding: 25px;
    text-align: center;
}

.thehomepagebody .firstsection span {
    font-family: satoshi;
    font-weight: 700;
    color: rgba(78, 75, 102, 1);
}

.linguamurasimp {
    width: 100%;
    padding: 20px 150px;
}

.linguamurasimp .texts {
    width: 70%;
}

.linguamurasimp .texts span {
    font-family: satoshi;
    font-weight: 500;
    font-size: 25px;
}

.whattolearn {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.whattolearn .thestructure {
    width: 30%;
    height: 300px;
    background: linear-gradient(top 90% black, bottom white);

    display: block;
    margin-bottom: 150px;
}

.thestructure .img {
    width: 100%;
    height: 100%;
    position: relative;
}

.thestructure .img img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 0.9;
}

.thestructure .img span {
    position: absolute;
    padding: 10px;
    color: white;
    font-family: satoshi;
    bottom: 6px;
    font-weight: 700;
    left: 0;
}

.thestructure .thetextandurl {
    width: 100%;
}

.thetextandurl span {
    font-family: satoshi;
    color: rgba(20, 20, 42, 1);
    font-weight: 400;
}

.thetextandurl .li {
    width: 100%;
    margin-top: 20px;
}

.thetextandurl .li a {
    height: Fixed (54px)px;
    padding: 10px 50px;
    border-radius: 55px;
    border: 1px solid var(--Primary-Default, rgba(0, 187, 187, 1));
    text-decoration: none;
    font-family: satoshi;
    font-weight: 600;
    color: var(--Primary-Default, rgba(0, 187, 187, 1));
}

.thetextandurl .li a:focus {
    box-shadow: 0px 0px 0.3px 0px rgba(26, 240, 240, 1) inset;
    
        box-shadow: 0px -4px 0.3px 0px rgba(0, 121, 121, 1) inset;
}

.connectwithus {
    width: 100%;
    height: 238px;
    border-radius: 16px;
    position: relative;
    padding: 10px;
    color: white;
    background: var(--Primary-Default, rgba(0, 187, 187, 1));
}

.connectwithus h3 {
        font-family: Satoshi;
        font-size: 30px;
        font-weight: 500;
        text-align: left;
}

.connectwithus .button {
    position: absolute;
    right: 10px;
    bottom: 20px;
}

.connectwithus .button a {
        height: Fixed (54px)px;
            padding: 14px 50px;
            border-radius: 55px;
            border: 1px solid var(--Primary-Default, rgba(0, 187, 187, 1));
            text-decoration: none;
            background: var(--Grey-White, rgba(255, 255, 255, 1));
            font-family: satoshi;
            font-weight: 600;
            color: var(--Primary-Default, rgba(0, 187, 187, 1));
}

.connectwithus .button a:focus {
    box-shadow: 0px 0px 0.3px 0px rgba(26, 240, 240, 1) inset;

    box-shadow: 0px -4px 0.3px 0px rgba(0, 121, 121, 1) inset;
}

